* { /* con el * indicamos que los cambios se realicen en toda la página*/
    margin: 0;
    padding: 0;
}
#titulo_principal { /* con # estamos creando un identificador CSS*/
    color: #f72585;
    text-align: center;
    margin: 15px;
}
h2 {
    color: #3f37c9;
}
p {
    color: #457b9d;
}

.targeta { /*Clase de CSS*/
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 5px 200px;
    padding: 15px;
}
.titulo {
    color: #f72585;
}